#linkdating-li {
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    padding-right: 10px;
    width: 50px;
}

#linkdating-li button {
    margin-bottom: -20px;
    margin-top: 13px;
    border-left: 0px solid gray;
}

#linkdating-li.active li-icon {
    transform: rotate(180deg);
}

#image-li,
#linkdating-li {
    margin-left: 5px;
}

#image-li {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    padding-left: 10px;
}

#image-li:not(.active) {
    filter: brightness(250%) grayscale(1);
}