img.marker {
    position: absolute;
    right: 10%;
    bottom: 5%;
    z-index: 1;
    background-color: transparent !important;
}


/*all users marker*/
.presence-entity.presence-entity--size-4 img.marker {
    right: 0;
    bottom: 0;
}

.pv-top-card__photo.presence-entity__image.EntityPhoto-circle-9 {
    position: static;
}

.pv-top-card__photo.presence-entity__image.EntityPhoto-circle-9 img.marker {
    position: absolute;
    right: 1.6rem;
    bottom: 0;
}

.mn-invitation-list .invitation-card__container>div a {
    position: relative;
}

.mn-invitation-list .invitation-card__container img.marker {
    right: 0;
    bottom: 0;
}

.discover-entity-type-card__info-container .ember-view.discover-entity-type-card__link img.marker,
.discover-entity-type-card__info-container--no-insights img.marker {
    bottom: 0;
    left: -3rem;
    position: relative;
}

.discover-person-follow-card__info-container img.marker {
    bottom: 0;
    left: -2rem;
    position: relative;
}

.feed-shared-avatar-image {
    position: relative;
}

.feed-follows-module-recommendation .ember-view.feed-follows-module-recommendation__profile-link--avatar {
    position: relative;
}

.t-black--light.display-flex.t-12.hoverable-link-text {
    position: relative;
}

.t-black--light.display-flex.t-12.hoverable-link-text img.marker {
    left: 12px;
}

button.entity-hovercard__a11y-trigger {
    overflow: auto !important;
}

.align-items-center.link-without-hover-visited.justify-flex-start.text-body-medium {
    position: relative;
}

.align-items-center.link-without-hover-visited.justify-flex-start.text-body-medium img.marker {
    top: 42px;
    left: 35px;
}

#interests~.artdeco-tabs img.marker {
    bottom: 0;
    right: 2px;
}

.msg-s-event-listitem__seen-receipts img.marker {
    right: 0.8rem;
    bottom: 0;
}

.profile-rail-card__member-photo {
    position: relative;
}

.user-element .msg-overlay-search-result-picture {
    position: relative;
}

.msg-overlay-search-result-picture {
    position: relative;
}

.EntityPhoto-circle-6-ghost-person,
.EntityPhoto-circle-3-ghost-person {
    position: relative;
}

.search-global-typeahead__hit.search-global-typeahead__hit--entity-with-search-icon.search-global-typeahead__hit--all-suggestions-ui {
    position: relative;
}

.search-typeahead-v2__hit {
    position: relative;
}

.search-typeahead-v2__hit img.marker {
    top: 3.4rem;
    right: 2rem;
}

.search-global-typeahead__hit.search-global-typeahead__hit--entity-with-search-icon.search-global-typeahead__hit--all-suggestions-ui img.marker {
    right: 1.6rem;
    bottom: 0.3rem;
}

.scaffold-finite-scroll__content .js-update-components-actor__avatar img.marker {
    top: 35px;
    right: 3px;
}

#recent-activity-top-card img.marker {
    right: 8px;
    bottom: 8px;
}

.artdeco-list__item.member-analytics-addon-entity-list__item .ivm-view-attr__img-wrapper {
    position: relative;
}

.artdeco-list__item.member-analytics-addon-entity-list__item .ivm-view-attr__img-wrapper img.marker {
    right: 0%;
    bottom: 0%;
}

.follows-recommendation-card__content>a {
    position: relative;
}

.update-components-header__text-wrapper .ivm-view-attr__img-wrapper--use-img-tag {
    position: relative;
}

.update-components-header__text-wrapper .ivm-view-attr__img-wrapper--use-img-tag img.marker {
    right: 1px;
    bottom: 1px;
    top: auto;
}

.comments-post-meta .ivm-view-attr__img-wrapper {
    position: relative;
}

.comments-comment-item img.marker,
.feed-shared-actor__image img.marker {
    right: 3px !important;
    top: auto !important;
    bottom: 0 !important;
    z-index: 0;
}

.feed-shared-avatar-image.member.comments-comment-box__avatar-image img.marker {
    bottom: 0;
    right: 2px;
}

.msg-s-profile-card .artdeco-entity-lockup__image,
.artdeco-card .artdeco-entity-lockup__image {
    margin-right: 0 !important;
}

.artdeco-card .ivm-view-attr__img-wrapper {
    position: relative;
}

.msg-s-profile-card .artdeco-entity-lockup__image img.marker,
.artdeco-card .artdeco-entity-lockup__image img.marker {
    top: 45px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .pv-top-card__photo.presence-entity__image.EntityPhoto-circle-9 img.marker {
        right: 4.8rem;
    }
}


.marker+.presence-entity__indicator,
button:has(> img.marker)~.presence-entity__indicator {
    display: none;
}

.social-details-reactors-tab-body-list-item.artdeco-list__item img.marker {
    margin-right: -14px;
    top: 40px;
}

.social-details-reactors-facepile__list img.marker {
    height: 16px !important;
    width: 16px !important;
    right: 0;
    bottom: 0;
}

.social-details-reactors-tab-body-list-item.artdeco-list__item:has(img.marker) .artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle:has(img.marker) {
    margin-right: 0px;
}

.scaffold-finite-scroll__content .ivm-image-view-model {
    position: relative;
}

.scaffold-finite-scroll__content img.marker {
    right: 0;
}

.scaffold-finite-scroll__content a img.marker {
    right: 20px;
    top: 40px;
}

.artdeco-card .scaffold-finite-scroll__content a img.marker {
    right: 0px;
    top: 52px;
}

article.nt-card.nt-card--redesigned.nt-card--with-hover-states img.marker {
    top: 40px;
    right: 3px;
}

.app-aware-link.profile-rail-card__profile-link img.marker {
    bottom: 0.7rem;
}

.member-analytics-addon-entity-list img.marker {
    height: 14px !important;
    width: 14px !important;
    top: 35px !important;
    left: -15px !important
}

.entity-hovercard.active .ivm-view-attr__img-wrapper {
    position: relative;
}

.scaffold-finite-scroll__content .ember-view.follows-recommendation-card img.marker {
    right: 0.5rem;
    bottom: 0.5rem;
    top: auto;
}

.search-results-container .search-nec__hero-kcard-v2 img.marker {
    right: 4px;
    bottom: 0;
}

.search-results-container .entity-result__content-container img.marker {
    right: 3px;
    bottom: 0;
}

.pv-browsemap-section__member-container a {
    position: relative;
}

.pv-browsemap-section__member-container img.marker {
    left: 34px;
    top: 36px;
}


.msg-overlay-conversation-bubble--is-active .msg-s-profile-card img.marker {
    left: -15px !important;
    top: 40px !important;
}

.groups-members-card img.marker {
    right: 3px;
}

#groups .artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle img.marker {
    right: 15px;
    top: 40px;
}

/*actual user marker*/






.artdeco-dropdown__trigger {
    position: relative;
}

.jobs-job-board-list__item img.marker {
    right: 1px;
}

.artdeco-dropdown__trigger img.marker {
    bottom: 6px;
    position: relative;
    left: 8px;
    margin-bottom: -5px;
}

.feed-identity-module__actor-meta a>div {
    position: relative;
}

.feed-identity-module__actor-meta a>div img.marker {
    right: calc(50% - 30px);
    bottom: 2rem;
}

.share-box-feed-entry__avatar {
    position: relative;
}

.share-box-feed-entry__avatar img.marker {
    right: 4px;
    bottom: 0;
}

#msg-overlay .msg-overlay-bubble-header__details img.marker,
#user-list .msg-overlay-bubble-header__details img.marker {
    left: 22px;
    bottom: 0;
}

#msg-overlay div.msg-overlay-list-bubble__conversations-list img.marker {
    left: 30px;
    bottom: 0;
}



#msg-overlay ul.msg-overlay-list-bubble-search__connection-search-result-list .msg-overlay-search-result-picture,
#msg-overlay div.msg-overlay-list-bubble-search__content-search-result-list .presence-entity {
    position: relative;
}

#msg-overlay div.msg-overlay-list-bubble-search__content-search-result-list img.marker {
    left: 31px;
    bottom: 0;
}


#msg-overlay ul.msg-overlay-list-bubble-search__connection-search-result-list img.marker {
    left: 24px;
    bottom: 0;
}

#user-list .msg-overlay-list-bubble-search__list-item img.marker {
    left: 24px;
    bottom: 0;
}

.pv-profile-sticky-header-v2__container img.marker {
    right: 1px;
    bottom: 1px;
}

.msg-s-message-list-container .msg-s-message-list__event a img.marker {
    right: 3.5px;
    bottom: 5px;
}

.msg-s-message-list-container .msg-s-profile-card img.marker {
    top: 52px;
    right: 20px !important;
}

.msg-s-message-list-container .msg-s-event-listitem__seen-receipts img.marker {
    right: calc(0.8rem + 1px);
}


.msg-conversations-container__conversations-list img.marker {
    right: 4px !important;
}

.profile-photo-edit__edit-btn img.marker {
    right: 0;
    bottom: 0;
}

.artdeco-dropdown__content {
    position: relative;
}

.artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle:has(img.marker) {
    position: relative;
    margin-right: -14px;
}

.artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle img.marker {
    right: 15px;
    position: relative;
    bottom: 0;
}

.member-analytics-addon-analytic-view .artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle img.marker {
    left: -18px !important;
    right: auto;
    position: relative;
    bottom: 0;
}

.global-nav__content .scaffold-layout__aside .presence-entity {
    position: relative;
}

.global-nav__content .scaffold-layout__aside .presence-entity img.marker {
    left: -20px;
    top: 40px;
}

.groups-identity-module__link {
    position: relative;
}

.groups-identity-module__link img.marker {
    position: relative;
    left: -25px;
}

.job-card-list__insight .ivm-view-attr__img-wrapper {
    position: relative;
}

.msg-conversation-card__presence-entity img.marker {
    top: 50px;
}

.profile-rail-card__profile-link img.marker {
    right: calc(50% - 35px);
    bottom: 1.5rem;
}

#artdeco-modal-outlet .artdeco-modal__content section {
    position: relative;
}

#artdeco-modal-outlet .artdeco-modal__content section img.marker {
    left: 70px;
    top: 70px;
}

#artdeco-modal-outlet .artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle {
    position: relative;
}

#artdeco-modal-outlet .artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle img.marker {
    right: 15px;
}

#artdeco-modal-outlet div[aria-labelledby="content-admin-identity-modal"] .artdeco-entity-lockup__image img.marker {
    right: 25px;
}

#profile-edit-form-page-content .ivm-view-attr__img-wrapper {
    position: relative;
}

#profile-edit-form-page-content img.marker {
    bottom: 2px;
    position: absolute;
    right: 2px;
}

#artdeco-modal-outlet .pvs-list__container .ivm-view-attr__img-wrapper img.marker {
    top: 35px;
    right: 3px;
}


.search-global-typeahead__history-list-carousel img.marker {
    left: 42px;
    bottom: 2px;
}

.feed-shared-social-action-bar__action-button button.artdeco-button span.artdeco-button__text {
    position: relative;
}

.feed-shared-social-action-bar__action-button button.artdeco-button span.artdeco-button__text img.marker {
    bottom: 4px;
    height: 8px !important;
    width: 8px !important;
    right: 0;
}

/*.basic-typeahead__triggered-content.search-global-typeahead__content.search-global-typeahead--content-ease-in.search-global-typeahead__content--small-width img {
    width: 200px;
    height: 200px;
}*/