img.marker {
    position: absolute;
    right: 10%;
    bottom: 5%;
    z-index: 1;
    background-color: transparent !important;
}


/*all users marker*/
.presence-entity.presence-entity--size-4 img.marker {
    right: 0;
    bottom: 0;
}

.pv-top-card__photo.presence-entity__image.EntityPhoto-circle-9 {
    position: static;
}

.pv-top-card__photo.presence-entity__image.EntityPhoto-circle-9 img.marker {
    position: absolute;
    right: 1.6rem;
    bottom: 0;
}

.mn-invitation-list .invitation-card__container>div a {
    position: relative;
}

.mn-invitation-list .invitation-card__container img.marker {
    right: 0;
    bottom: 0;
}

.discover-entity-type-card__info-container .ember-view.discover-entity-type-card__link img.marker,
.discover-entity-type-card__info-container--no-insights img.marker {
    bottom: 0;
    left: -3rem;
    position: relative;
}

.discover-person-follow-card__info-container img.marker {
    bottom: 0;
    left: -2rem;
    position: relative;
}

.feed-shared-avatar-image {
    position: relative;
}

.feed-follows-module-recommendation .ember-view.feed-follows-module-recommendation__profile-link--avatar {
    position: relative;
}

.t-black--light.display-flex.t-12.hoverable-link-text {
    position: relative;
}

.t-black--light.display-flex.t-12.hoverable-link-text img.marker {
    left: 12px;
}

button.entity-hovercard__a11y-trigger {
    overflow: auto !important;
}

.align-items-center.link-without-hover-visited.justify-flex-start.text-body-medium {
    position: relative;
}

.align-items-center.link-without-hover-visited.justify-flex-start.text-body-medium img.marker {
    left: 30px;
}

.msg-s-event-listitem__seen-receipts img.marker {
    right: 0.8rem;
    bottom: 0;
}

.profile-rail-card__member-photo {
    position: relative;
}

.user-element .msg-overlay-search-result-picture {
    position: relative;
}

.msg-overlay-search-result-picture {
    position: relative;
}

.EntityPhoto-circle-6-ghost-person,
.EntityPhoto-circle-3-ghost-person {
    position: relative;
}

.search-global-typeahead__hit.search-global-typeahead__hit--entity-with-search-icon.search-global-typeahead__hit--all-suggestions-ui {
    position: relative;
}

.search-typeahead-v2__hit {
    position: relative;
}

.search-typeahead-v2__hit img.marker {
    top: 3.4rem;
    right: 2rem;
}

.search-global-typeahead__hit.search-global-typeahead__hit--entity-with-search-icon.search-global-typeahead__hit--all-suggestions-ui img.marker {
    right: 1.2rem;
    bottom: 0.2rem;
}

.artdeco-list__item.member-analytics-addon-entity-list__item .ivm-view-attr__img-wrapper {
    position: relative;
}

.artdeco-list__item.member-analytics-addon-entity-list__item .ivm-view-attr__img-wrapper img.marker {
    right: 0%;
    bottom: 0%;
}

.follows-recommendation-card__content>a {
    position: relative;
}

.update-components-header__text-wrapper .ivm-view-attr__img-wrapper--use-img-tag {
    position: relative;
}

.update-components-header__text-wrapper .ivm-view-attr__img-wrapper--use-img-tag img.marker {
    right: 0%;
    bottom: 0%;
    top: auto;
}

.comments-post-meta .ivm-view-attr__img-wrapper {
    position: relative;
}

.comments-comment-item img.marker,
.feed-shared-actor__image img.marker {
    right: 0 !important;
    top: auto !important;
    bottom: 0 !important;
    z-index: 0;
}

.msg-s-profile-card .artdeco-entity-lockup__image,
.artdeco-card .artdeco-entity-lockup__image {
    margin-right: 0 !important;
}

.artdeco-card .ivm-view-attr__img-wrapper {
    position: relative;
}

.msg-s-profile-card .artdeco-entity-lockup__image img.marker,
.artdeco-card .artdeco-entity-lockup__image img.marker {
    top: 45px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .pv-top-card__photo.presence-entity__image.EntityPhoto-circle-9 img.marker {
        right: 4.8rem;
    }
}


.marker+.presence-entity__indicator,
button:has(> img.marker)~.presence-entity__indicator {
    display: none;
}

.social-details-reactors-tab-body-list-item.artdeco-list__item img.marker {
    margin-right: -14px;
    top: 40px;
}

.social-details-reactors-facepile__list img.marker {
    height: 16px !important;
    width: 16px !important;
    right: 0;
    bottom: 0;
}

.social-details-reactors-tab-body-list-item.artdeco-list__item:has(img.marker) .artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle:has(img.marker) {
    margin-right: 0px;
}

.scaffold-finite-scroll__content .ivm-image-view-model {
    position: relative;
}

.scaffold-finite-scroll__content img.marker {
    right: 0;
}

.scaffold-finite-scroll__content a img.marker {
    right: 20px;
    top: 40px;
}

.artdeco-card .scaffold-finite-scroll__content a img.marker {
    right: 0px;
    top: 52px;
}

article.nt-card.nt-card--redesigned.nt-card--with-hover-states img.marker {
    top: 40px;
}

.app-aware-link.profile-rail-card__profile-link img.marker {
    bottom: 0.7rem;
}

.member-analytics-addon-entity-list img.marker {
    height: 14px !important;
    width: 14px !important;
    top: 35px !important;
    left: -15px !important
}

.entity-hovercard.active .ivm-view-attr__img-wrapper {
    position: relative;
}





/*actual user marker*/






.artdeco-dropdown__trigger {
    position: relative;
}

.artdeco-dropdown__trigger img.marker {
    bottom: 4px;
    position: relative;
    left: 8px;
    margin-bottom: -5px;
}

.feed-identity-module__actor-meta a>div {
    position: relative;
}

.feed-identity-module__actor-meta a>div img.marker {
    right: calc(50% - 35px);
    bottom: 2rem;
}

.share-box-feed-entry__avatar {
    position: relative;
}

.artdeco-dropdown__content {
    position: relative;
}

.artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle:has(img.marker) {
    position: relative;
    margin-right: -14px;
}

.artdeco-entity-lockup__image.artdeco-entity-lockup__image--type-circle img.marker {
    right: 15px;
    position: relative;
    bottom: 0;
}


.global-nav__content .scaffold-layout__aside .presence-entity {
    position: relative;
}

.global-nav__content .scaffold-layout__aside .presence-entity img.marker {
    left: -20px;
    top: 40px;
}

.groups-identity-module__link {
    position: relative;
}

.groups-identity-module__link img.marker {
    position: relative;
    left: -20px;
}

.job-card-list__insight .ivm-view-attr__img-wrapper {
    position: relative;
}

.msg-conversation-card__presence-entity img.marker {
    top: 50px;
}

.profile-rail-card__profile-link img.marker {
    right: calc(50% - 35px);
    bottom: 1.5rem;
}

/*.basic-typeahead__triggered-content.search-global-typeahead__content.search-global-typeahead--content-ease-in.search-global-typeahead__content--small-width img {
    width: 200px;
    height: 200px;
}*/