#user-list {
    flex-direction: row !important;
}

.user-element:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.user-element {
    cursor: pointer;
}

#user-list-elem {
    max-height: calc(100vh - 100px - 48px - 48px);
    overflow-y: auto;
}

#user-list-search-bar span {
    font-size: 10px;
    display: block;
    margin-top: 2px;
    font-weight: 500;
}

#user-list-search-bar .online {
    color: rgb(0, 207, 17);
}