.user-element:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.user-element {
    cursor: pointer;
}

#user-list-elem {
    max-height: calc(100vh - 100px - 48px - 48px);
    overflow-y: auto;
}